.toast {
  padding: 0.8rem 1.2rem;
  position: fixed;
  bottom: 0px;
  left: 50%;
  width: fit-content;
  height: auto;
  background-color: var(--COLOR_GRAY_800);
  color: var(--COLOR_WHITE);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  transform: translate(-50%, 5rem);
  -webkit-transform: translate(-50%, 5rem);
  &.show {
    transform: translate(-50%, -2rem);
    -webkit-transform: translate(-50%, -2rem);
  }
}
