.item {
  display: block;
  border: 1px solid var(--COLOR_GRAY_300);
  overflow: hidden;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.6rem;
  border: 0;
  width: 100%;
  background-color: var(--COLOR_GRAY_50);
  font-size: 1.4rem;
  color: var(--COLOR_GRAY_800);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  h4 {
    font-size: 1.4rem;
  }
  &:focus-visible{
    outline: 2px solid #fff;
    box-shadow: 0 0 0 2px inset #fff;
  }
}

.panel {
  overflow: visible;
  position: relative;
  transition: all 0.3s ease-in-out;
  > div {
    transition: height 0.3s ease-in-out;
    -webkit-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -ms-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
  }
}
