:root,
:root.light {
  --COLOR_PRIMARY: #2589f4;
  --COLOR_SECONDARY: #255cf4;
  --COLOR_DANGER: #ee444a;
  --COLOR_DANGER_SUB: #fceeee;
  --COLOR_GRAY_50: #f8f9fa;
  --COLOR_GRAY_100: #f1f3f5;
  --COLOR_GRAY_200: #e9ecef;
  --COLOR_GRAY_300: #dee2e6;
  --COLOR_GRAY_400: #c5cbd1;
  --COLOR_GRAY_500: #989fa7;
  --COLOR_GRAY_600: #6d747b;
  --COLOR_GRAY_700: #495057;
  --COLOR_GRAY_800: #343a40;
  --COLOR_GRAY_900: #212528;
  --COLOR_WHITE: #fff;
  --COLOR_BLACK: #000;
  --COLOR_DIMM: rgba(0, 0, 0, 0.56);
}
:root.dark {
  --COLOR_PRIMARY: #2589f4;
  --COLOR_SECONDARY: #255cf4;
  --COLOR_DANGER: #ee444a;
  --COLOR_DANGER_SUB: #fceeee;
  --COLOR_GRAY_50: #212528;
  --COLOR_GRAY_100: #343a40;
  --COLOR_GRAY_200: #495057;
  --COLOR_GRAY_300: #6d747b;
  --COLOR_GRAY_400: #989fa7;
  --COLOR_GRAY_500: #c5cbd1;
  --COLOR_GRAY_600: #dee2e6;
  --COLOR_GRAY_700: #e9ecef;
  --COLOR_GRAY_800: #f1f3f5;
  --COLOR_GRAY_900: #f8f9fa;
  --COLOR_WHITE: #000;
  --COLOR_BLACK: #fff;
  --COLOR_DIMM: rgba(0, 0, 0, 0.56);
}