@forward "./font";
@forward "./reset";
@forward "./variable";
html,
body {
  font-size: 10px;
}
body {
  background-color: var(--COLOR_GRAY_50);
  font-size: 1.6rem;
  color: var(--COLOR_GRAY_900);
}
#root {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
}
.sticky-header {
  background-color: var(--COLOR_GRAY_800);
}
header {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--COLOR_GRAY_300);
  height: 5rem;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-top: 1px solid var(--COLOR_GRAY_300);
  height: 5rem;
}
a:focus,
button:focus,
div[role="button"]:focus {
  outline: 2px dashed blue;
}
button {
  border: 2px solid #fff;
}
p {
  font-size: 1.6rem;
  word-break: keep-all;
}
main.contents-area {
  flex: 1;
  padding: 2rem;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: calc(100vh - 10rem);
}
.d-flex {
  display: flex;
}
.d-flex.col {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-evenly {
  justify-content: space-evenly;
}
.w-full {
  width: 100%;
}
.px-20 {
  padding-right: 2rem;
  padding-left: 2rem;
}
.py-13 {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}
.gap-1 {
  gap: 0.6rem;
}
.gap-2 {
  gap: 1.2rem;
}
.gap-3 {
  gap: 1.8rem;
}
.dot {
  width: 1rem;
  height: 1rem;
  background-color: var(--COLOR_BLACK);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.sticky-banner {
  position: relative;
  width: 100%;
  height: 0;
  transition: height 0.3s ease-in-out;
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
}
.sticky-banner.open {
  height: 7rem;
}
.sticky-banner .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 5rem;
  height: 100%;
}
.sticky-banner .content::before {
  position: absolute;
  top: 50%;
  left: 1rem;
  width: 3.6rem;
  height: 3.6rem;
  background-color: gray;
  content: "";
  border-radius: 30%;
  -webkit-border-radius: 30%;
  -moz-border-radius: 30%;
  -ms-border-radius: 30%;
  -o-border-radius: 30%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.sticky-banner .content p {
  font-size: 0.875rem;
  line-height: 1.3;
}
.sticky-header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2;
  min-height: 6rem;
  background-color: #fff;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  width: 100%;
  min-height: 24rem;
  background: #eee;
  font-size: 1.8rem;
  text-align: center;
}
.swiper-pagination-bullet-active {
  width: 2rem;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-swiper {
  position: relative;
}
.sub-swiper {
  padding-bottom: 3rem;
}
.sub-swiper .swiper-slide {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.sub-section {
  padding: 1rem;
}
.card {
  display: block;
  padding: 1rem;
  width: 100%;
  background-color: rgba(146, 211, 255, 0.699);
  color: inherit;
  text-decoration: none;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}
.skeleton {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 4rem;
  background-color: var(--COLOR_GRAY_300);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.skeleton .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem 0 1rem;
  width: 100%;
}
.skeleton .square {
  background-color: var(--COLOR_GRAY_400);
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.skeleton .square.title {
  width: 15rem;
  height: 2.1rem;
}
.skeleton .square.icon {
  width: 1rem;
  height: 1rem;
}
.skeleton::after {
  position: absolute;
  width: 4rem;
  height: 50vh;
  background-color: #fff;
  animation: 2s ease-in-out infinite shimmer;
  -webkit-animation: 2s ease-in-out infinite shimmer;
  content: "";
  opacity: 0.4;
  filter: blur(0.8rem);
  -webkit-filter: blur(0.8rem);
}
@keyframes shimmer {
  0% {
    transform: translateX(-100vw) skewX(-15deg);
    -webkit-transform: translateX(-100vw) skewX(-15deg);
    -moz-transform: translateX(-100vw) skewX(-15deg);
    -ms-transform: translateX(-100vw) skewX(-15deg);
    -o-transform: translateX(-100vw) skewX(-15deg);
  }
  100% {
    transform: translateX(100vw) skewX(-15deg);
    -webkit-transform: translateX(100vw) skewX(-15deg);
    -moz-transform: translateX(100vw) skewX(-15deg);
    -ms-transform: translateX(100vw) skewX(-15deg);
    -o-transform: translateX(100vw) skewX(-15deg);
  }
}
.button {
  background-color: pink;
}
.wrapper{
  flex:1;
  padding:2rem;
}
