@import "./font";
@import "./reset";
@import "./variable";

#root {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid $COLOR_GRAY_300;
  height: 50px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-top: 1px solid $COLOR_GRAY_300;
  height: 50px;
}

main.contents-area {
  flex: 1;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: calc(100vh - 100px);
}

.d-flex {
  display: flex;
  &.col {
    flex-direction: column;
  }
}

.align-center {
  align-items: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.w-full {
  width: 100%;
}

.px-20 {
  padding-right: 20px;
  padding-left: 20px;
}

.py-13 {
  padding-top: 13px;
  padding-bottom: 13px;
}

.gap-1 {
  gap: 7px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: $COLOR_BLACK;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
