.btn {
  width: 100%;
  background-color: #8e90e4;
  color: #fff;
  font-weight: 500;
  border: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  &.md {
    height: 48px;
  }
}
