.group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  &.col {
    flex-direction: column;
    > div {
      align-items: start;
      justify-content: start;
    }
  }
}
.checkbox {
  appearance: none;
  position: relative;
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  background-color: var(--COLOR_GRAY_100);
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  cursor: pointer;
  &:checked {
    background-color: var(--COLOR_PRIMARY);
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 2rem;
      height: 2rem;
      background-image: url(../../assets/images/check.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}
