@import "../../styles/variable";

.checkbox {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  min-width: 20px;
  background-color: $COLOR_GRAY_100;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
  &:checked {
    background-color: $COLOR_PRIMARY;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      background-image: url(../../assets/icons/check.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}
