.icon {
  position: relative;
  display: block;
  width: 2.8rem;
  min-width: 2.8rem;
  height: 2.8rem;
  &.dash {
    &::after {
      content: "";
      position: absolute;
      width: 1rem;
      height: 2px;
      background-color: #000;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
  }
  &.plus {
    &::after,
    &::before {
      content: "";
      position: absolute;
      background-color: #000;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
    &::before {
      width: 1rem;
      height: 2px;
    }
    &::after {
      width: 2px;
      height: 1rem;
    }
  }
}

.svg-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  &.spinner {
    width: 2.4rem;
    height: 2.4rem;
    margin: 0 auto;
    animation: 2s linear infinite svg-animation;
    max-width: 10rem;
    circle {
      animation: 1.4s ease-in-out infinite both circle-animation;
      display: block;
      fill: transparent;
      stroke: #fff;
      stroke-linecap: round;
      stroke-dasharray: 283;
      stroke-dashoffset: 280;
      stroke-width: 1.4rem;
      transform-origin: 50% 50%;
      -webkit-animation: 1.4s ease-in-out infinite both circle-animation;
    }
  }
}

// SVG animation.
@keyframes svg-animation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

// Circle animation.
@keyframes circle-animation {
  0%,
  25% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }

  50%,
  75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}
