.wrapper {
  &.active,
  &:active {
    border-color: #000;
  }
  .label {
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
  }
}
