.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 100%;
  max-width: 32rem;
  height: auto;
  padding: 2rem;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  background-color: #fff;
  overflow: hidden;
  &.open {
    z-index: 9999;
    opacity: 1;
  }
  &.close {
    z-index: -1;
    opacity: 0;
  }
  .header {
    h2 {
      display: inline-block;
      font-size: 1.3rem;
    }
  }
  .footer {
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
    display: flex;
    width: 2.4rem;
    height: 2.4rem;
    button {
      min-width: 2.4rem;
      height: 2.4rem;
      padding: 0;
      font-size: 0;
      background-color: transparent;
      background-image: url(../../assets/images/close.svg);
      background-repeat: no-repeat;
      background-position: center;
      border: 0;
    }
  }
}
